@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 1100px) {
  html {
    font-size: 80%;
  }
}

@media only screen and (max-width: 700px) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Roboto Mono", monospace;
  color: #ededed;
  z-index: -1;
  width: 100%;
  background-color: #1c2335;
}

.background {
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("img/pexels-photo-1061640.jpeg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/pexels-photo-1061640.jpeg");
  position: relative;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 3.5rem;
  background: black;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(12%, rgba(0, 0, 0, 0.60548)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.60548) 12%, rgba(0, 0, 0, 0) 100%);
}

@media only screen and (max-width: 700px) {
  .header {
    padding-top: 2rem;
  }
}

.header__firstpart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__name {
  font-size: 3rem;
  margin: 0 1rem;
}

.burger-container {
  background-color: transparent;
  border: none;
  display: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media only screen and (max-width: 700px) {
  .burger-container {
    display: block;
  }
}

.burger-container:hover {
  cursor: pointer;
}

.burger-container:focus {
  outline: none;
}

.burger-container--bar {
  width: 4rem;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  border-radius: 15px;
}

.orange {
  color: #fd7a34;
}

.border {
  margin-top: 3px;
  border-bottom: 1px solid #fd7a34;
  width: 13rem;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 700px) {
  .nav {
    display: none;
  }
}

.nav__item {
  list-style: none;
  margin: 0 1.5rem;
}

.nav__item--anchor {
  text-decoration: none;
  color: #ededed;
  font-size: 1.2rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav__item--anchor:hover {
  color: #fd7a34;
  border-bottom: 1px solid #fd7a34;
}

.intro {
  margin-top: 7rem;
  font-size: 2rem;
  padding-bottom: 20rem;
}

.intro__container {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.intro__img {
  background-color: #ededed;
  width: 16rem;
  height: 16rem;
  border-radius: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro__img--profile {
  width: 15rem;
}

.intro__presentation {
  margin: 2rem 0 1rem 0;
}

.intro__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10rem;
}

.intro__socials--img {
  margin: 1.2rem;
}

.btn {
  background: transparent;
  color: #ededed;
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 1rem 1.5rem;
  margin: 3rem 1rem 4rem 1rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: rgba(27, 27, 27, 0.5);
  text-decoration: none;
}

.btn__cv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn__cv--btn {
  font-size: 1.5rem;
  font-weight: 600;
}

.btn:hover {
  cursor: pointer;
  border: 1px solid #fd7a34;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.btn:focus {
  outline: none;
}

.wave {
  position: absolute;
  bottom: -1.5rem;
  left: 0;
  z-index: 0;
}

@media only screen and (max-width: 1100px) {
  .wave {
    bottom: -1rem;
  }
}

.wave-top {
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  z-index: 0;
}

@media only screen and (max-width: 1100px) {
  .wave-top {
    bottom: 0;
  }
}

.about {
  background: #1c2335;
  z-index: 5;
  position: relative;
  padding-bottom: 12rem;
}

.about__top {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.about__title {
  font-size: 3.5rem;
  margin-top: 6rem;
}

.about__description {
  width: 60%;
  margin: 5rem 0;
  line-height: 2;
  text-align: center;
  font-size: 1.2rem;
}

.about__head {
  margin: 0 1rem;
  border-top: 1px solid #fd7a34;
  border-right: 1px solid #fd7a34;
  border-left: 1px solid #fd7a34;
  padding: 1rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.about__head--active {
  background-color: #fd7a34;
}

.about__head:hover {
  cursor: pointer;
  background-color: #fd7a34;
}

.about__container {
  border: 2px solid #fd7a34;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5rem;
  width: 60%;
  -webkit-box-shadow: 3px 3px 5px #1b1b1b;
          box-shadow: 3px 3px 5px #1b1b1b;
}

.about__container--head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5rem;
}

@media only screen and (max-width: 700px) {
  .about__container--head {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 1100px) {
  .about__container {
    width: 70%;
  }
}

@media only screen and (max-width: 700px) {
  .about__container {
    width: 37rem;
  }
}

.about__item {
  margin: 2rem;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  font-size: 1.5rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.about__item--img {
  margin: 1rem;
  width: 1.5rem;
}

.about__certification {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.about__certification--title {
  font-size: 2rem;
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.about__certification--content {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.about__certification--btn {
  width: 8rem;
  text-align: center;
  text-decoration: none;
}

.mongo {
  width: 2rem;
}

.wave2 {
  position: absolute;
  bottom: -20.5rem;
  left: 0;
  z-index: 1;
}

@media only screen and (max-width: 1500px) {
  .wave2 {
    bottom: -16.5rem;
  }
}

@media only screen and (max-width: 1210px) {
  .wave2 {
    bottom: -13.5rem;
  }
}

@media only screen and (max-width: 1100px) {
  .wave2 {
    bottom: -13.4rem;
  }
}

@media only screen and (max-width: 790px) {
  .wave2 {
    bottom: -12rem;
  }
}

@media only screen and (max-width: 700px) {
  .wave2 {
    bottom: -13.4rem;
  }
}

@media only screen and (max-width: 500px) {
  .wave2 {
    bottom: -10rem;
  }
}

@media only screen and (max-width: 380px) {
  .wave2 {
    bottom: -8rem;
  }
}

.wave2-bottom {
  position: absolute;
  bottom: -21.5rem;
  left: 0;
  z-index: 0;
}

@media only screen and (max-width: 1500px) {
  .wave2-bottom {
    bottom: -17.5rem;
  }
}

@media only screen and (max-width: 1210px) {
  .wave2-bottom {
    bottom: -14.5rem;
  }
}

@media only screen and (max-width: 1100px) {
  .wave2-bottom {
    bottom: -14.4rem;
  }
}

@media only screen and (max-width: 790px) {
  .wave2-bottom {
    bottom: -13rem;
  }
}

@media only screen and (max-width: 700px) {
  .wave2-bottom {
    bottom: -14.4rem;
  }
}

@media only screen and (max-width: 500px) {
  .wave2-bottom {
    bottom: -11rem;
  }
}

@media only screen and (max-width: 380px) {
  .wave2-bottom {
    bottom: -9rem;
  }
}

.project {
  background-color: #ffc490;
  background-color: #ffc490;
  background-image: linear-gradient(315deg, #ffa455 0%, #ffc490 74%);
  position: relative;
  padding: 25rem 5% 25rem;
}

@media only screen and (max-width: 700px) {
  .project {
    padding: 25rem 7.5% 25rem;
  }
}

.project__head {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.project__title {
  font-size: 3.5rem;
  color: #1c2335;
}

.project__container {
  position: relative;
  height: 40rem;
  margin-top: 10rem;
}

.project__img {
  border: 3px solid #fd7a34;
  position: absolute;
  left: 0;
  top: 3rem;
  z-index: 3;
  height: 239px;
  width: 478px;
  -webkit-box-shadow: 2px 2px 8px #292929;
          box-shadow: 2px 2px 8px #292929;
}

.project__img--img {
  height: 233px;
  width: 472px;
}

@media only screen and (max-width: 1100px) {
  .project__img--img {
    height: 233px;
    width: 322px;
  }
}

@media only screen and (max-width: 700px) {
  .project__img--img {
    height: 88px;
    width: 126px;
  }
}

@media only screen and (max-width: 1100px) {
  .project__img {
    height: 239px;
    width: 328px;
  }
}

@media only screen and (max-width: 700px) {
  .project__img {
    height: 93px;
    width: 132px;
  }
}

.project__description {
  border: 2px solid #fd7a34;
  width: 400px;
  height: 400px;
  position: absolute;
  left: 28rem;
  bottom: 5rem;
  padding: 2.5rem;
  background-color: rgba(0, 12, 44, 0.8);
  -webkit-box-shadow: 2px 2px 8px #1b1b1b;
          box-shadow: 2px 2px 8px #1b1b1b;
}

@media only screen and (max-width: 1100px) {
  .project__description {
    left: 24rem;
    bottom: -1rem;
    width: 300px;
    height: 350px;
  }
}

@media only screen and (max-width: 700px) {
  .project__description {
    left: 14rem;
    bottom: 4rem;
    width: 170px;
    height: 220px;
  }
}

.project__description--title {
  text-align: center;
  font-size: 1.5rem;
}

.project__description--text {
  margin-top: 3rem;
  font-size: 1.2rem;
}

.project__tech {
  border: 2px solid #fd7a34;
  background-color: rgba(0, 12, 44, 0.8);
  padding: 0.5rem;
  position: absolute;
  left: 33rem;
  top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5rem;
  -webkit-box-shadow: 2px 2px 8px #1b1b1b;
          box-shadow: 2px 2px 8px #1b1b1b;
}

@media only screen and (max-width: 1100px) {
  .project__tech {
    left: 28rem;
    top: 6rem;
  }
}

@media only screen and (max-width: 700px) {
  .project__tech {
    top: 2rem;
    left: 18rem;
  }
}

.project__tech--img {
  margin: 1rem;
}

@media only screen and (max-width: 700px) {
  .project__tech--img {
    width: 2rem;
  }
}

.project__buttons {
  width: 360px;
  height: 240px;
  position: absolute;
  left: 3.5rem;
  bottom: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 1100px) {
  .project__buttons {
    left: -2rem;
    bottom: 2rem;
  }
}

@media only screen and (max-width: 700px) {
  .project__buttons {
    bottom: 6rem;
    left: -4rem;
    width: 160px;
    height: 140px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.project__btn {
  border: 1px solid #fd7a34;
  background-color: rgba(0, 12, 44, 0.8);
  -webkit-box-shadow: 2px 2px 8px #1b1b1b;
          box-shadow: 2px 2px 8px #1b1b1b;
  margin: 2rem;
}

.project__btn:hover {
  background-color: #fd7a34;
  color: #ededed;
}

.right__img {
  right: 0;
  top: 3rem;
  border: 3px solid #fd7a34;
  position: absolute;
  z-index: 3;
  height: 239px;
  width: 478px;
  -webkit-box-shadow: 2px 2px 8px #292929;
          box-shadow: 2px 2px 8px #292929;
}

.right__img--img {
  height: 233px;
  width: 472px;
  margin-right: 20px;
}

@media only screen and (max-width: 1100px) {
  .right__img--img {
    height: 233px;
    width: 322px;
  }
}

@media only screen and (max-width: 700px) {
  .right__img--img {
    height: 88px;
    width: 126px;
  }
}

@media only screen and (max-width: 1100px) {
  .right__img {
    height: 239px;
    width: 328px;
  }
}

@media only screen and (max-width: 700px) {
  .right__img {
    height: 93px;
    width: 132px;
  }
}

.right__description {
  right: 28rem;
  bottom: 5rem;
  border: 2px solid #fd7a34;
  width: 400px;
  height: 400px;
  position: absolute;
  bottom: 5rem;
  padding: 2.5rem;
  background-color: rgba(0, 12, 44, 0.8);
  -webkit-box-shadow: 2px 2px 8px #1b1b1b;
          box-shadow: 2px 2px 8px #1b1b1b;
}

@media only screen and (max-width: 1100px) {
  .right__description {
    right: 24rem;
    bottom: -1rem;
    width: 300px;
    height: 350px;
  }
}

@media only screen and (max-width: 700px) {
  .right__description {
    right: 14rem;
    bottom: 4rem;
    width: 170px;
    height: 220px;
  }
}

.right__tech {
  right: 33rem;
  border: 2px solid #fd7a34;
  background-color: rgba(0, 12, 44, 0.8);
  padding: 0.5rem;
  position: absolute;
  top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5rem;
  -webkit-box-shadow: 2px 2px 8px #1b1b1b;
          box-shadow: 2px 2px 8px #1b1b1b;
}

@media only screen and (max-width: 1100px) {
  .right__tech {
    right: 28rem;
    top: 6rem;
  }
}

@media only screen and (max-width: 700px) {
  .right__tech {
    right: 18rem;
    top: 2rem;
  }
}

.right__buttons {
  right: 4rem;
  bottom: 8rem;
  width: 360px;
  height: 240px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 1100px) {
  .right__buttons {
    right: -2rem;
    bottom: 2rem;
  }
}

@media only screen and (max-width: 700px) {
  .right__buttons {
    bottom: 5rem;
    right: -4rem;
    width: 160px;
    height: 140px;
    display: -ms-grid;
    display: grid;
    justify-items: center;
  }
}

.wave3 {
  position: absolute;
  bottom: -3.5rem;
  left: 0;
  z-index: 2;
}

@media only screen and (max-width: 1100px) {
  .wave3 {
    bottom: -2.5rem;
  }
}

@media only screen and (max-width: 700px) {
  .wave3 {
    bottom: -2rem;
  }
}

.wave3-top {
  position: absolute;
  bottom: -2.5rem;
  left: 0;
  z-index: 1;
}

@media only screen and (max-width: 1100px) {
  .wave3-top {
    bottom: -1.5rem;
  }
}

@media only screen and (max-width: 700px) {
  .wave3-top {
    bottom: -1rem;
  }
}

.contact {
  background: #1c2335;
  text-align: center;
  padding: 5rem 10% 2rem;
}

.contact__container {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.contact__title {
  font-size: 3rem;
}

.contact__link {
  margin-top: 5rem;
}

.contact__social {
  margin: 4rem 0 0 2rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__social--anchor {
  margin: 0 2rem;
  text-decoration: none;
  color: #ededed;
  font-size: 1.3rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.contact__social--anchor:hover {
  color: #fd7a34;
}

.contact__link {
  text-align: center;
  margin-top: 6.3rem;
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.contact__nav {
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__border {
  width: 5rem;
}

@media only screen and (max-width: 700px) {
  .modal {
    pointer-events: auto;
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    position: absolute;
    top: 54%;
    left: 29%;
    padding: 2rem 3rem;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 60%;
    height: 110%;
    background-color: #ededed;
    z-index: 10;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #1c2335;
  }
  .modal__close {
    background-color: transparent;
    border: none;
    color: #fd7a34;
    font-size: 3rem;
    font-weight: 700;
    float: right;
    margin-top: 3rem;
  }
  .modal__close:focus {
    outline: none;
  }
  .modal__nav {
    margin-top: 15rem;
    font-size: 2.5rem;
  }
  .modal__list {
    margin-top: 6rem;
    list-style: none;
  }
  .modal__anchor {
    text-decoration: none;
    color: #1c2335;
    font-weight: 600;
  }
  .modal__anchor:hover {
    border-bottom: 1px solid #fd7a34;
  }
  .overlay {
    position: absolute;
    pointer-events: auto;
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
    z-index: 5;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}

.hide {
  opacity: 0;
  pointer-events: none;
}
/*# sourceMappingURL=main.css.map */