$color-orange: #fd7a34;
$color-grey: #555555;
$color-blue: #1c2335;

$color-white: #ededed;

$wide-media: 1500px;
$tablet-media: 1100px;
$mobile-media: 700px;

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600;700&display=swap");

////
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  @media only screen and (max-width: $tablet-media) {
    font-size: 80%;
  }

  @media only screen and (max-width: $mobile-media) {
    font-size: 50%;
  }
}

body {
  font-family: "Roboto Mono", monospace;
  color: $color-white;
  z-index: -1;
  width: 100%;
  background-color: $color-blue;
}

.background {
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("img/pexels-photo-1061640.jpeg");
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3.5rem;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.6054796918767507) 12%,
    rgba(0, 0, 0, 0) 100%
  );
  @media only screen and (max-width: $mobile-media) {
    padding-top: 2rem;
  }
  &__firstpart {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__name {
    font-size: 3rem;
    margin: 0 1rem;
  }
}

.burger-container {
  background-color: transparent;
  border: none;
  display: none;
  transition: all 0.3s ease;
  @media only screen and (max-width: $mobile-media) {
    display: block;
  }
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
  &--bar {
    width: 4rem;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    border-radius: 15px;
  }
}
.orange {
  color: $color-orange;
}

.border {
  margin-top: 3px;
  border-bottom: 1px solid $color-orange;
  width: 13rem;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: $mobile-media) {
    display: none;
  }
  &__item {
    list-style: none;
    margin: 0 1.5rem;
    &--anchor {
      text-decoration: none;
      color: $color-white;
      font-size: 1.2rem;
      transition: all 0.3s ease;

      &:hover {
        color: $color-orange;
        border-bottom: 1px solid $color-orange;
      }
    }
  }
}

.intro {
  margin-top: 7rem;
  font-size: 2rem;
  padding-bottom: 20rem;
  &__container {
    display: grid;
    justify-items: center;
  }
  &__img {
    background-color: $color-white;
    width: 16rem;
    height: 16rem;
    border-radius: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    &--profile {
      width: 15rem;
    }
  }
  &__presentation {
    margin: 2rem 0 1rem 0;
  }
  &__socials {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10rem;
    &--img {
      margin: 1.2rem;
    }
  }
}

.btn {
  background: transparent;
  color: $color-white;
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 1rem 1.5rem;
  margin: 3rem 1rem 4rem 1rem;
  transition: all 0.3s ease;
  background-color: rgba(27, 27, 27, 0.5);
  text-decoration: none;
  &__cv {
    display: flex;
    justify-content: center;

    &--btn {
      font-size: 1.5rem;
      font-weight: 600;
    }
  }
  &:hover {
    cursor: pointer;
    border: 1px solid $color-orange;
    transform: translateY(-2px);
  }

  &:focus {
    outline: none;
  }
}

.wave {
  position: absolute;
  bottom: -1.5rem;
  left: 0;
  z-index: 0;

  @media only screen and (max-width: $tablet-media) {
    bottom: -1rem;
  }
  @media only screen and (max-width: $mobile-media) {
  }
}

.wave-top {
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  z-index: 0;

  @media only screen and (max-width: $tablet-media) {
    bottom: 0;
  }
  @media only screen and (max-width: $mobile-media) {
  }
}

.about {
  background: $color-blue;
  z-index: 5;
  position: relative;
  padding-bottom: 12rem;

  &__top {
    display: grid;
    justify-items: center;
  }
  &__title {
    font-size: 3.5rem;
    margin-top: 6rem;
  }
  &__description {
    width: 60%;
    margin: 5rem 0;
    line-height: 2;
    text-align: center;
    font-size: 1.5rem;
  }

  &__head {
    margin: 0 1rem;
    border-top: 1px solid $color-orange;
    border-right: 1px solid $color-orange;
    border-left: 1px solid $color-orange;
    padding: 1rem;
    transition: all 0.3s ease;

    &--active {
      background-color: $color-orange;
    }
    &:hover {
      cursor: pointer;
      background-color: $color-orange;
    }
  }

  &__container {
    &--head {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 5rem;
      @media only screen and (max-width: $mobile-media) {
        font-size: 0.7rem;
      }
    }
    border: 2px solid $color-orange;
    display: flex;
    justify-content: center;
    padding: 5rem;
    width: 60%;
    box-shadow: 3px 3px 5px rgb(27, 27, 27);
    @media only screen and (max-width: $tablet-media) {
      width: 70%;
    }
    @media only screen and (max-width: $mobile-media) {
      width: 37rem;
    }
  }

  &__item {
    margin: 2rem;
    display: grid;
    justify-items: center;
    font-size: 1.5rem;
    transition: all 0.3s ease;
    &--img {
      margin: 1rem;
      width: 1.5rem;
    }
  }

  &__certification {
    display: grid;
    justify-items: center;
    &--title {
      font-size: 2.3rem;
      margin-top: 10rem;
      margin-bottom: 5rem;
    }

    &--content {
      display: grid;
      justify-items: center;
    }
    &--btn {
      width: 8rem;
      text-align: center;
      text-decoration: none;
    }
  }
}
.mongo {
  width: 2rem;
}

.wave2 {
  position: absolute;
  bottom: -20.5rem;
  left: 0;
  z-index: 1;
  @media only screen and (max-width: $wide-media) {
    bottom: -16.5rem;
  }
  @media only screen and (max-width: 1210px) {
    bottom: -13.5rem;
  }

  @media only screen and (max-width: $tablet-media) {
    bottom: -13.4rem;
  }
  @media only screen and (max-width: 790px) {
    bottom: -12rem;
  }
  @media only screen and (max-width: $mobile-media) {
    bottom: -13.4rem;
  }
  @media only screen and (max-width: 500px) {
    bottom: -10rem;
  }
  @media only screen and (max-width: 380px) {
    bottom: -8rem;
  }
}

.wave2-bottom {
  position: absolute;
  bottom: -21.5rem;
  left: 0;
  z-index: 0;
  @media only screen and (max-width: $wide-media) {
    bottom: -17.5rem;
  }
  @media only screen and (max-width: 1210px) {
    bottom: -14.5rem;
  }
  @media only screen and (max-width: $tablet-media) {
    bottom: -14.4rem;
  }

  @media only screen and (max-width: 790px) {
    bottom: -13rem;
  }

  @media only screen and (max-width: $mobile-media) {
    bottom: -14.4rem;
  }
  @media only screen and (max-width: 500px) {
    bottom: -11rem;
  }
  @media only screen and (max-width: 380px) {
    bottom: -9rem;
  }
}

.project {
  background-color: #ffc490;
  background-color: #ffc490;
  background-image: linear-gradient(315deg, #ffa455 0%, #ffc490 74%);
  position: relative;
  padding: 25rem 5% 25rem;
  @media only screen and (max-width: $mobile-media) {
    padding: 25rem 7.5% 25rem;
  }
  &__head {
    display: grid;
    justify-items: center;
  }
  &__title {
    font-size: 3.5rem;
    color: $color-blue;
  }
  &__container {
    position: relative;
    height: 40rem;
    margin-top: 10rem;
  }

  &__img {
    border: 3px solid $color-orange;
    position: absolute;
    left: 0;
    top: 3rem;
    z-index: 3;
    height: 239px;
    width: 478px;
    box-shadow: 2px 2px 8px rgb(41, 41, 41);
    &--img {
      height: 233px;
      width: 472px;
      @media only screen and (max-width: $tablet-media) {
        height: 233px;
        width: 322px;
      }
      @media only screen and (max-width: $mobile-media) {
        height: 88px;
        width: 126px;
      }
    }
    @media only screen and (max-width: $tablet-media) {
      height: 239px;
      width: 328px;
    }

    @media only screen and (max-width: $mobile-media) {
      height: 93px;
      width: 132px;
    }
  }

  &__description {
    border: 2px solid $color-orange;
    width: 400px;
    height: 400px;
    position: absolute;
    left: 28rem;
    bottom: 5rem;
    padding: 2.5rem;
    background-color: rgba(0, 12, 44, 0.8);
    box-shadow: 2px 2px 8px rgb(27, 27, 27);

    @media only screen and (max-width: $tablet-media) {
      left: 24rem;
      bottom: -1rem;
      width: 300px;
      height: 350px;
    }
    @media only screen and (max-width: $mobile-media) {
      left: 14rem;
      bottom: 4rem;
      width: 170px;
      height: 220px;
    }

    &--title {
      text-align: center;
      font-size: 1.5rem;
    }
    &--text {
      margin-top: 3rem;
      font-size: 1.2rem;
    }
  }

  &__tech {
    border: 2px solid $color-orange;
    background-color: rgba(0, 12, 44, 0.8);
    padding: 0.5rem;
    position: absolute;
    left: 33rem;
    top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5rem;
    box-shadow: 2px 2px 8px rgb(27, 27, 27);

    @media only screen and (max-width: $tablet-media) {
      left: 28rem;
      top: 6rem;
    }
    @media only screen and (max-width: $mobile-media) {
      top: 2rem;
      left: 18rem;
    }
    &--img {
      margin: 1rem;
      @media only screen and (max-width: $mobile-media) {
        width: 2rem;
      }
    }
  }

  &__buttons {
    width: 360px;
    height: 240px;
    position: absolute;
    left: 3.5rem;
    bottom: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: $tablet-media) {
      left: -2rem;
      bottom: 2rem;
    }
    @media only screen and (max-width: $mobile-media) {
      bottom: 6rem;
      left: -4rem;
      width: 160px;
      height: 140px;
      flex-direction: column;
      align-items: center;
    }
  }
  &__btn {
    border: 1px solid $color-orange;
    background-color: rgba(0, 12, 44, 0.8);
    box-shadow: 2px 2px 8px rgb(27, 27, 27);
    margin: 2rem;
    &:hover {
      background-color: $color-orange;
      color: $color-white;
    }
  }
}

.right__img {
  right: 0;
  top: 3rem;
  border: 3px solid #fd7a34;
  position: absolute;
  z-index: 3;
  height: 239px;
  width: 478px;
  box-shadow: 2px 2px 8px rgb(41, 41, 41);

  &--img {
    height: 233px;
    width: 472px;
    margin-right: 20px;

    @media only screen and (max-width: $tablet-media) {
      height: 233px;
      width: 322px;
    }
    @media only screen and (max-width: $mobile-media) {
      height: 88px;
      width: 126px;
    }
  }

  @media only screen and (max-width: $tablet-media) {
    height: 239px;
    width: 328px;
  }

  @media only screen and (max-width: $mobile-media) {
    height: 93px;
    width: 132px;
  }
}

.right__description {
  right: 28rem;
  bottom: 5rem;
  border: 2px solid #fd7a34;
  width: 400px;
  height: 400px;
  position: absolute;
  bottom: 5rem;
  padding: 2.5rem;
  background-color: rgba(0, 12, 44, 0.8);
  box-shadow: 2px 2px 8px #1b1b1b;

  @media only screen and (max-width: $tablet-media) {
    right: 24rem;
    bottom: -1rem;
    width: 300px;
    height: 350px;
  }
  @media only screen and (max-width: $mobile-media) {
    right: 14rem;
    bottom: 4rem;
    width: 170px;
    height: 220px;
  }
}
.right__tech {
  right: 33rem;
  border: 2px solid $color-orange;
  background-color: rgba(0, 12, 44, 0.8);
  padding: 0.5rem;
  position: absolute;
  top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5rem;
  box-shadow: 2px 2px 8px rgb(27, 27, 27);

  @media only screen and (max-width: $tablet-media) {
    right: 28rem;
    top: 6rem;
  }
  @media only screen and (max-width: $mobile-media) {
    right: 18rem;
    top: 2rem;
  }
}

.right__buttons {
  right: 4rem;
  bottom: 8rem;
  width: 360px;
  height: 240px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: $tablet-media) {
    right: -2rem;
    bottom: 2rem;
  }
  @media only screen and (max-width: $mobile-media) {
    bottom: 5rem;
    right: -4rem;
    width: 160px;
    height: 140px;
    display: grid;
    justify-items: center;
  }
}

.wave3 {
  position: absolute;
  bottom: -3.5rem;
  left: 0;
  z-index: 2;
  width: 100%;
  @media only screen and (max-width: $tablet-media) {
    bottom: -2.5rem;
  }
  @media only screen and (max-width: $mobile-media) {
    bottom: -2rem;
  }
}

.wave3-top {
  position: absolute;
  bottom: -2.5rem;
  left: 0;
  z-index: 1;
  width: 100%;
  @media only screen and (max-width: $tablet-media) {
    bottom: -1.5rem;
  }
  @media only screen and (max-width: $mobile-media) {
    bottom: -1rem;
  }
}

.contact {
  background: $color-blue;
  text-align: center;
  padding: 5rem 10% 2rem;
  @media only screen and(max-width: $mobile-media) {
    padding: 5rem 10% 10rem;
  }

  &__container {
    display: grid;
    justify-items: center;
  }
  &__title {
    font-size: 3rem;
  }
  &__link {
    margin-top: 5rem;
  }

  &__social {
    margin: 4rem 0 0 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    &--anchor {
      margin: 0 2rem;
      text-decoration: none;
      color: $color-white;
      font-size: 1.3rem;
      transition: all 0.3s ease;
      &:hover {
        color: $color-orange;
      }
    }
  }

  &__link {
    text-align: center;
    margin-top: 6.3rem;
    display: grid;
    justify-items: center;
  }
  &__nav {
    padding-top: 1rem;
    display: flex;
  }
  &__border {
    width: 5rem;
  }
}

@media only screen and (max-width: $mobile-media) {
  .modal {
    pointer-events: auto;
    opacity: 1;
    transition: opacity 0.3s;
    position: absolute;
    top: 54%;
    left: 29%;
    padding: 2rem 3rem;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 110%;
    background-color: $color-white;
    z-index: 10;
    text-align: center;
    transition: all 0.3s ease;
    color: $color-blue;

    &__close {
      background-color: transparent;
      border: none;
      color: $color-orange;
      font-size: 3rem;
      font-weight: 700;
      float: right;
      margin-top: 3rem;
      &:focus {
        outline: none;
      }
    }
    &__nav {
      margin-top: 15rem;
      font-size: 2.5rem;
    }
    &__list {
      margin-top: 6rem;
      list-style: none;
    }
    &__anchor {
      text-decoration: none;
      color: $color-blue;
      font-weight: 600;
      &:hover {
        border-bottom: 1px solid $color-orange;
      }
    }
  }

  .overlay {
    position: absolute;
    pointer-events: auto;
    opacity: 1;
    transition: opacity 0.3s;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3px);
    z-index: 5;
    transition: all 0.3s ease;
  }
}

.hide {
  opacity: 0;
  pointer-events: none;
}
